@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root{
    /*Colors*/
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secoundary-color: #f3961c;
    --ligit-pink-color: #faf4f5;
    --medium-gray-color: #ccc;
}
.tittle{
    font-family: 'Miniver', sans-serif;
    color: var(--secoundary-color);
}
/* .subtitle{
    font-family: 'Miniver', sans-serif;
}
.description{
    font-family: 'Miniver', sans-serif;
} */